{{>header}}
{{>navbar}}
<section class="my-5 container">
<table class="table table-bordered">
<thead>
    <tr>
        <td>ID</td>
        <td>Book Title</td>
        <td>Auther</td>
        <td>Category</td>
        <td>pages</td>
        <td>Actions</td>
    </tr>
</thead>

<tbody>
   {{#if books}}
    {{#each result}}
        <tr>
        <td>{{id}}</td>
        <td>{{bookTitle}}</td>
        <td>{{auther}}</td>
        <td>{{category}}</td>
        <td>{{pagesNum}}</td>
        <td><a class="btn btn-dark btn-outline-info mx-2" href="/edit/{{id}}">Edit</a>
        <a class="btn btn-dark btn-outline-danger mx-2" href="/delete/{{id}}">Delete</a>
    </tr>
    {{/each}}
    {{else}}
    <tr class="alert alert-danger">
                <td colspan="6" class="text-center">No matchs!</td>
            </tr>
            {{/if}}
</tbody>



</table>

</section>

{{>footer}}